<div class="resume-wrapper">
  <div class="resume-card row">
    <aside class="col-md-4 left-col-bg">
     <app-sidebar
  [aboutMe]="'Lorem Ipsum dolor o consectetur adipiscing elitse eiusmod tempor incididunt labore dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus facilisiis. Lorem Ipsum dolor amet, consectetur adipiscing elitsed eiusmod temp incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo'"
  [photoUrl]="'assets/img/another.png'">
</app-sidebar>
    </aside>

    <main class="col-md-8">
      <app-main-content></app-main-content>
    </main>
  </div>
</div>