
  <div class="photo-box">
    <div class="yellow-block top"></div>
    <img src="assets/img/img1.png" alt="Profile photo">
    <div class="yellow-block bottom"></div>
  </div>

  <div class="resume-body">
    <section class="about-me">
      <h2>ABOUT ME_</h2>
      <p>{{ aboutMe }}</p>
    </section>

    <section class="hobbies">
      <h2>HOBBIES_</h2>
     <div class="d-flex justify-content-between align-items-start">
  @for (hobby of hobbies; track hobby.title) {
    <div class="hobby-item">
      <div class="hobby-icon">
        <i [class]="hobby.icon"></i>
      </div>
      <p>{{ hobby.title }}</p>
    </div>
  }
</div>
    </section>
    
    <div class="footer-line"></div>
  </div>
